@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Inter;
}

a.active hr {
  display: block;
}

.custom-range-slider {
  background-color: #e5e7eb;

  .range-slider__thumb {
    height: 18px;
    width: 18px;
    background-color: #374151;
  }

  .range-slider__range {
    background-color: #374151;
  }
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
